out

**/build/
**/.DS_Store/
**/target/
**/build/
**/target/
**/node/
**/node_modules/
.gradle/
tmp/
**/application-credentials.yml

!/tmp/.gitkeep

.DS_Store
**/*.log
**/.idea/

**/*.iml
**/*.ipr
**/*.zip
**/*.dmg
